:root {

  --dropW: 4px;
  --primary-dark: #22223bff;      /* Space Cadet */
  --primary-mid: #4a4e69ff;       /* Ultra Violet */
  --secondary-dark: #9a8c98ff;    /* Rose Quartz */
  --secondary-mid: #c9ada7ff;     /* Pale Dogwood */
  --secondary-light: #f2e9e4ff;   /* Isabelline */

}


body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-light);
}

.dropShadow {
    border-radius: 20px;
    border: black var(--dropW) solid;
    filter: drop-shadow(var(--dropW) var(--dropW) 0px #000000);
}

